* {
    margin: 0;
}
.Header {
    background-color: #80AD74;
    color: black;
    height: 180px;
}
h1 {
    text-align: center;
    position: relative;
    top: 15px;
}
h2 {
    text-align: center;
    position: relative;
    top: 30px;
}
h3 {
    text-align: center;
    position: relative;
    top: 50px;
}
.contato {
    text-align: right;
    position: relative;
    right: 10px;
    top: 50px;
}
.body {
    background-color: #F1FFED;
    position: relative;
    height: 1000px;
}
.texto-corpo {
    color: #7A3E6D;
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 20px;
}